@tailwind base;
@tailwind components;
@tailwind utilities;

button {
	all: unset;
}

.TooltipContent {
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1;
	color: #67c2ec;
	background-color: white;
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

.TooltipArrow {
	fill: white;
}

.IconButton {
	font-family: inherit;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #67c2ec;
	background-color: white;
	box-shadow: 0 2px 10px var(--black-a7);
	user-select: none;
}
.IconButton:hover {
	background-color: var(--violet-3);
}
.IconButton:focus {
	box-shadow: 0 0 0 2px black;
}

.button {
	position: relative;
	text-decoration: none;
	color: #fff;
	background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
	padding: 14px 25px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}
.buttonlight {
	position: relative;
	text-decoration: none;
	color: #000;
	background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
	padding: 10px 25px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}
  
.button span {
	position: relative;
	z-index: 1;
}
  
.button::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: #272727;
	border-radius: 5px;
	transition: 0.5s;
}
  
.button:hover::before {
	opacity: 0.7;
}
  
.button::after {
	content: "";
	position: absolute;
	inset: 0px;
	background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
	border-radius: 9px;
	transition: 0.5s;
	opacity: 0;
	filter: blur(20px);
}
  
.button:hover:after {
	opacity: 1;
}
  
.buttonlight span {
	position: relative;
	z-index: 1;
}
  
.buttonlight::before {
	content: "";
	position: absolute;
	inset: 1px;
	background: #ffffff;
	border-radius: 5px;
	transition: 0.5s;
}
  
.buttonlight:hover::before {
	opacity: 0.7;
}
  
.buttonlight::after {
	content: "";
	position: absolute;
	inset: 0px;
	background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
	border-radius: 9px;
	transition: 0.5s;
	opacity: 0;
	filter: blur(20px);
}
  
.buttonlight:hover:after {
	opacity: 1;
}
  

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}
  
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #242526; 
    border-radius: 4px; 
}
  
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #565656;
    border-radius: 4px;
}
  